.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f43625;
  background-image: url("./assets/images/bitesBackground.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.App-link {
  color: #61dafb;
}

.decorative {
  font-family: "Playwrite";
}

.title {
  margin-block: 0;
  line-height: 100%;
}

.subtitle {
  margin-block: 0;
  padding-block: 1em;
}

.backgroundImage {
  transform: rotate(90deg);
  position: absolute;
}

@media (max-width: 985px) {
  .title {
    width: 50%;
    line-height: 140%;
  }
  .subtitle {
    width: 40%;
    padding-block: 20px;
  }
}

/* @media (max-width: 388) {
  .title {
    line-height: 120%;
  }
} */

@media (max-width: 550px) {
  .App-header {
    background-image: url("./assets/images/bitesBackgroundPortrait.png");
    padding-block-start: 12%;
  }
}
